<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>OnlineNoticeBoardSystem</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.noticeboard.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/student/*</url-pattern>
        <url-pattern>/notice-details</url-pattern>
        <url-pattern>/search-notices</url-pattern>
        <url-pattern>/mark-notice-read</url-pattern>
        <url-pattern>/bookmark-notice</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminAuthorizationFilter</filter-name>
        <filter-class>com.noticeboard.filter.AdminAuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthorizationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>StudentAuthorizationFilter</filter-name>
        <filter-class>com.noticeboard.filter.StudentAuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StudentAuthorizationFilter</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/500.jsp</location>
    </error-page>

</web-app>